/* Estilo global para o corpo da página */
body {
    font-family: 'Roboto', sans-serif; /* Fonte padrão */
    background-color: #f8f8f8; /* Cor de fundo da página */
}

/* Estilo para o cabeçalho */
header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 9px 0; /* Espaçamento interno para o cabeçalho */
}

#logo {
    max-width: 100px; /* Tamanho máximo do logotipo */
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* Estilo para a navegação */
.navbar {
    padding: 0 20px; /* Espaçamento interno para a barra de navegação */
}

.nav-link {
    color: #fff; /* Cor dos links */
    margin-right: 20px; /* Espaçamento direito entre os links */
}

/* Estilos personalizados para aumentar o tamanho dos links */
.navbar-nav .nav-item.nav-link {
    font-size: 20px; /* Ajuste o tamanho da fonte conforme desejado */
}

/* Estilos para a seção de texto */
.text-section {
    margin: 20px; /* Espaçamento entre as seções */
    text-align: justify; /* Justifica o texto */
}

/* Estilos para o título da seção */
.text-section h1 {
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 10px; /* Espaçamento inferior para separar o título */
}

/* Estilos para os parágrafos de texto */
.text-section p {
    font-size: 16px; /* Tamanho da fonte dos parágrafos */
    line-height: 1.5; /* Espaçamento entre linhas para melhor legibilidade */
    margin-bottom: 20px; /* Espaçamento inferior para separar os parágrafos */
}

/* Estilos para todas as seções de imagem */
.image-section {
    margin: 20px; /* Espaçamento entre as seções */
    text-align: center; /* Centraliza o conteúdo */
}

/* Estilos para os títulos das seções */
.image-section h1, .image-section h2 {
    font-size: 24px; /* Tamanho da fonte dos títulos */
    margin-bottom: 10px; /* Espaçamento inferior para separar os títulos */
}

/* Estilos para as imagens */
.image img {
    max-width: 100%; /* A imagem deve se ajustar à largura da tela */
    height: auto; /* A altura da imagem deve ser ajustada automaticamente */
    margin-bottom: 10px; /* Espaçamento inferior para separar as imagens */
}

/* Estilos para os parágrafos de texto */
.image p {
    font-size: 12px; /* Tamanho da fonte dos parágrafos */
    line-height: 1.5; /* Espaçamento entre linhas para melhor legibilidade */
    margin-bottom: 20px; /* Espaçamento inferior para separar os parágrafos */
}

/* Estilos para os subtítulos (h2) */
.image-section h2 {
    font-size: 20px; /* Tamanho da fonte dos subtítulos */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-section {
    flex: 1;
    margin: 10px;
    text-align: justify;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.image-section:hover {
    transform: scale(1.05); /* Aumenta um pouco o tamanho */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.image h1, .image h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.image p {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 10px;
}


/* Estilo para o rodapé */
footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    text-align: center;
    padding: 40px 0; /* Espaçamento interno para o rodapé */
}

footer p {
    margin-top: 40px;
}
/* Estilo para os ícones de mídia social no rodapé */
.fab {
    font-size: 24px;
    margin-right: 10px;
    color: #fff; /* Cor dos ícones de mídia social */
}

/* Estilo para o link personalizado do Replit no rodapé */
#copy-area a[href*="replit.com"] {
    margin-left: 10px;
}

/* Estilo para o link do desenvolvedor no rodapé */
#copy-area span {
    font-weight: bold;
}


/* Estilos para telas pequenas (móveis e tablets) */
@media (max-width: 767px) {
    .text-section {
        padding: 20px;
    }
    
    /* Ajuste o tamanho da fonte e espaçamento para telas pequenas */
    .text-section p {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    /* Ajuste o tamanho da fonte do título para telas pequenas */
    .text-section h1 {
        font-size: 24px;
    }
}

/* Estilos para telas pequenas (móveis e tablets) */
@media (max-width: 767px) {
    .image-section {
        padding: 20px;
    }

    .image h1 {
        font-size: 24px; /* Ajuste o tamanho da fonte do título para telas pequenas */
    }

    .image p {
        font-size: 16px; /* Ajuste o tamanho da fonte do texto para telas pequenas */
    }

    .image img {
        max-width: 100%; /* A imagem deve se ajustar à largura da tela */
        height: auto; /* A altura da imagem deve ser ajustada automaticamente */
    }
}

